node_modules
dist
forta.config.json
**/.DS_Store
.vscode
**/node_modules/
**/.env
**/cache/
**/.ipynb_checkpoints
**/__pycache__
**/artifacts/
publish.log
note.md
log.txt
log.txt
src/key.ts
result.csv